    @media (min-width:320px) and (max-width:575px) {
        .navbar-toggler:focus {
            box-shadow: none;
        }
        nav {
            background-color: #d64758;
        }
        nav img {
            width: 80%;
        }
        .navbar-toggler-icon {
            color: #fff;
            font-size: 28px;
        }
        nav .nav-link {
            color: #898b8c;
        }
        nav ul {
            background-color: #fff;
            padding-top: 52px;
        }
        nav .nav-item a:hover {
            color: #898b8c;
        }
        .navbar-collapse {
            position: absolute;
            top: 76px;
            left: 0;
            width: 100%;
            transition: .4s;
        }
        nav .btn {
            color: #fff;
            position: none;
            background-color: #d64758;
        }
        nav .btn:hover {
            color: #fff;
            position: none;
            background-color: #d64758;
        }
        .nav-link:focus,
        .nav-link:hover {
            color: #898b8c;
        }
        nav .se-flex {
            display: flex;
            position: absolute;
            top: 13px;
            left: 50%;
            transform: translateX;
            transform: translateX(-50%);
        }
        /* =============nav part end */
        /* =============banner part start */
        #banner .item video {
            display: none !important;
        }
        #banner .item h2 .wav {
            display: none;
        }
        #banner {
            margin-top: 0;
            padding-top: 0;
            padding-bottom: 190px;
        }
        #banner .item {
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 32px;
            margin-top: -10px;
        }
        #banner .item h1 {
            font-size: 88px;
            text-align: center;
        }
        #banner .item h1 span{
            font-size: 99px;
            text-align: center;
        }
        #banner .item h2 {
            font-size: 73px;
            text-align: center;
        }
        #banner .item h3 {
            font-size: 81px;
            text-align: center;
            line-height: 60px;
        }
        
        #banner .item h3 span br {
            display: inline-block;
        }
        #banner .item h3 p {
            display: inline-block;
            font-size: 50px;
            margin: 0;
            letter-spacing: -1px;
        }
        #banner .item h3 span {
            color: #000;
             padding-right: 0px;
             display: block;
        }
        
        #banner .item .de {
            margin-left: 45px;
        }
        
       
        #banner .item h3 .love {
            width: 44px;
            position: absolute;
            top: 11px;
            left: -46px;
        }
        #banner .item #hover-item {
            display: none;
        }
        #banner .item h3 .cursor {
            top: 32px;
            right: 13px;
            width: 40px;
        }
        #banner .item h3 p {
            letter-spacing: -1px;
            position: relative;
        }
        .accordion {
            display: block;
            margin-top: 240px;
        }
        .accordion-button {
            font-size: 25px;
            font-weight: 800;
            line-height: 1;
            font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
            margin-top: 20px;
            border-radius: 10px;
        }
        .accordion-flush .accordion-item {
            border-radius: 15px;
        }
        .accordion-button:not(.collapsed) {
            color: #2b2d30;
            background-color: #fff;
            box-shadow: inset 0 -1px 0 rgba(0,0,0,.125);
        }
        .accordion-flush .accordion-item .accordion-button {
            border-radius: 20px;
        }
        /* =============banner part end */
        /* =============tip  part start */
        #tip{
            padding-bottom: 30px;
            text-align: center;
        }
        #tip .titel-sub{
            display: inline-block;
            margin-top: -29px;
            
        }
        #tip .hover-item {
            display: none;
        }
        #tip .titel h1{
            font-weight: 900;
        }
        #tip .item {
            width: 43%;
        }
        #tip .creatorpage .fullpage {
            width: 100%;
        }
        #tip .accordion-body img {
            width: 100%;
        }
        #tip .accordion-flush .accordion-item:first-child {
            border-top: 0;
            margin-top: -200px;
        }
        #tip .item {
            width: 43%;
            padding: 2px;
            text-align: center;
        }
        #tip .item .round {
            width: 100px;
            height: 100px;
        }
        #tip .item .text {
            margin-top: 53px;
        }
        #tip .item .text h2 {
            font-size: 18px;
            padding-top: 11px;
        }
        #tip .item .text h3 {
            font-size: 14px;
            padding-top: 20px;
        }
        #tip .item .text span {
            font-size: 17px;
            margin-right: 0px; 
        }
        #tip .item .text h5 {
            font-size: 14px;
            margin-bottom: 15px;
        }
        #tip .item .icon {
            margin-top: 5px;
            padding-bottom: 7px;
        }
        #tip .item .icon h4 {
            padding: 4px 14px;
            font-size: 15px;
        }
        /* =============tip  part end */
        /* ====================== */


         /* =============freedom-part start */
        /* ====================== */
        section.freedom-part .main_title {
            font-size: 16px;
        }
        section.freedom-part .align-items-center {
            align-items: center !important;
            justify-content: center;
        }
        section.freedom-part .right p {
            text-align: center;
        }
        section.freedom-part .align-items-center {
            flex-direction: column-reverse;
        }
        section.freedom-part .rev {
            flex-direction: column;
        }
        /* =============freedom-part end */
        /* ====================== */

        #categories .list-c a {
            font-size: 60px;
        }
       
        #categories .button {
            margin: 0;
            width: 100%;
        }
        #tipee-sub .item a {
            padding: 5px;
            width: 100%;
            text-align: center;
            display: inline-block;
            margin-bottom: 50px;
        }
        #tipee-sub .item img {
            width: 100%;
        }
        /* categories============== */
        #categories {
            padding: 44px 0px;
        }
        #categories .list-c a {
            font-size: 23px;
            display: block;
            margin-bottom: -76px;
            letter-spacing: -1px;
        }
        #categories .list-c img {
            display: none;
        }
        #categories  a span{
            display: none;
        }
        #categories .titel {
            margin-bottom: 4px;
        }
        #categories .titel h1 {
            font-size: 29px;
            font-weight: 800;
        }
        #categories .list-c {
            text-align: center;
            font-size: 33px;
            text-align: center;
        }
        section.freedom-part .main_title {
            font-size: 32px;
            word-wrap: anywhere;
            text-align: center;
        }
        #categories .list-c a{
            display: inline-block;
            line-height: 0;
        }
        #categories .button {
            display: block !important;
            margin-top: 30px;
            font-size: 14px;
        }
        #tip .btn {
            display: inline-block;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 ;
            margin-top: 38px;
        }
        /* freedom============== */

        section.freedom-part {
            padding: 0px 0px;
            text-align: center;
        }
        section.freedom-part .main_title {
            font-size: 32px;
            text-align: center;
            word-break: break-all;
        }
        section.freedom-part .main_title {
            font-size: 32px;
            text-align: center;
        }
        /* who===================== */
        #who {
            text-align: center;
        }
        #who .item .stats {
            justify-content: space-between;
        }
        #who .item .stats .valu {
            padding-right: 0;
        }
        #who .item a {
            font-size: 16px;
            margin-bottom: 24px;
        }
        #who .row {
            flex-direction: column-reverse;
        }
        #who .item .titel p {
            padding-right: 0; 
        }
        /* ===================tipee-sub */
        #tipee-sub {
            text-align: center;
        }
        #tipee-sub .icon {
            padding-left: 51px;
        }
        #tipee-sub .item .details p {
            padding-right: 0px; 
        }
        /* footer ===========*/
        #footer-part .icon {
            justify-content: space-evenly;
            flex-direction: row-reverse;
            margin-top: -2px;
        }
        #footer-part .item {
            flex-direction: column;
        }
        #footer-part .item .m-disc {
            margin-top: -15px;
            margin-left: 1px;
        }
       
        
        
        /* ============================== */
        
    }
    
    @media (min-width:576px) and (max-width:767px) {
        .navbar-toggler:focus {
            box-shadow: none;
        }
        nav {
            background-color: #d64758;
        }
        nav img {
            width: 100%;
        }
        .navbar-toggler-icon {
            color: #fff;
            font-size: 28px;
        }
        nav .nav-link {
            color: #898b8c;
        }
        nav ul {
            background-color: #fff;
            padding-top: 52px;
        }
        nav .nav-item a:hover {
            color: #898b8c;
        }
        .navbar-collapse {
            position: absolute;
            top: 76px;
            left: 0;
            width: 100%;
            transition: .4s;
        }
        nav .btn {
            color: #fff;
            position: none;
            background-color: #d64758;
        }
        nav .btn:hover {
            color: #fff;
            position: none;
            background-color: #d64758;
        }
        .nav-link:focus,
        .nav-link:hover {
            color: #898b8c;
        }
        nav .se-flex {
            display: flex;
            position: absolute;
            top: 13px;
            left: 50%;
            transform: translateX(-50%);
        }
        
        /* =============nav part end */
        /* =============banner part start */
        #banner .item video {
            display: none !important;
        }
        #banner .item h2 .wav {
            display: none;
        }
        #banner {
            margin-top: -2px;
            padding-top: 0;
            padding-bottom: 190px;
        }
        #banner .item {
            margin: 0;
        }
        #banner .item h1 {
            font-size: 88px;
            text-align: center;
        }
        #banner .item h1 span {
            display: block;
            font-size: 102px;
        }
        #banner .item h2 {
            font-size: 75px;
            text-align: center;
            padding-top: 20px;
        }
        #banner .item h3 {
            font-size: 81px;
            text-align: center;
        }
        #banner .item h3 span .de {
            margin-left: 0;
        }
        #banner .item h3 p {
            display: block;
            font-size: 50px;
            margin: 0;
        }
        #banner .item h3 .cursor {
            top: 209px;
            right: 161px;
            width: 36px;
        }
        #banner .item .de {
            display: block !important;
            margin-left: 45px;
        }
        #banner .item h3 .love {
            width: 44px;
            position: absolute;
            top: 18px;
            left: 192px;
        }
        #banner .item #hover-item {
            display: none;
        }
        #banner .item h3 span .de {
            margin-right: 17px;
        }
        #banner .item h3 span {
            display: flex;
            justify-content: center;
            margin-bottom: -19px;
        }
        #banner .item h3 .love {
            left: 245px;
        }
        #banner .item h3 .cursor {
            top: 25px;
            right: 110px;
        }
        #banner .item h3 p {
            letter-spacing: 1px;
            display: inline-block;
        }
        .accordion {
            display: block;
            margin-top: 240px;
        }
        .accordion-button {
            font-size: 25px;
            font-weight: 800;
            line-height: 1;
            font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
            margin-top: 20px;
            border-radius: 10px;
        }
        .accordion-flush .accordion-item {
            border-radius: 15px;
        }
        .accordion-button:not(.collapsed) {
            color: #2b2d30;
            background-color: #fff;
            box-shadow: inset 0 -1px 0 rgba(0,0,0,.125);
        }
        .accordion-flush .accordion-item .accordion-button {
            border-radius: 20px;
        }
        /* =============banner part end */
        /* =============tip  part start */
        #tip {
            text-align: center;
        }
        #tip .titel-sub{
            display: inline-block;
        }
        #tip .hover-item {
            display: none;
        }
        
        #tip .creatorpage .fullpage {
            width: 100%;
        }
        #tip .accordion-body img {
            width: 100%;
        }
        #tip .accordion-flush .accordion-item:first-child {
            border-top: 0;
            margin-top: -200px;
        }
        
        #tip .btn {
            padding: 16px 67px;
            margin: 0;
            margin: 38px;
        }
       
        /* =============tip  part end */
        /* ====================== */

        /* freedom ============== */
        section.freedom-part {
            padding: 0;
            text-align: center;
        }
        section.freedom-part .main_title {
            font-size: 16px;
        }
        #categories .list-c a {
            font-size: 60px;
        }
        section.freedom-part .right p {
            text-align: center;
        }
        section.freedom-part .main_title {
            font-size: 16px;
        }
        section.freedom-part .align-items-center {
            align-items: center !important;
            justify-content: center;
        }
        section.freedom-part .right p {
            text-align: center;
        }
        section.freedom-part .align-items-center {
            flex-direction: column-reverse;
        }
        section.freedom-part .rev {
            flex-direction: column;
        }
        /* freedom end ============== 

         /* categories start ============== */
         #categories {
             background-color: #eff0f0;
             text-align: center;
         }
        #categories .titel {
            font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
            margin: 0 ; 
            line-height: 1;
            
        }
        #categories .titel h1{
            font-size: 32px;
            font-weight: 800;
        }
        #categories .button {
            margin: 0;
            width: 100%;
            margin: 0;
        }
        #categories .list-c a img {
            display: none;
        }
        #categories .list-c a {
            line-height: 80px;
        }
        
        #categories .button span {
            display: none;
        }
        #categories .button {
            background-color: #fff;
            display: inline-block !important;
            margin-top: 30px;
            font-size: 14px;
            text-align: center;
            width: 60%;
        }
        #categories .list-c a {
            font-size: 39px;
        }

        /* categories end ============== */
        #tipee-sub {
           
            text-align: center;
        }
        #tipee-sub .item a {
            padding: 5px;
            width: 100%;
            text-align: center;
            display: inline-block;
            margin-bottom: 50px;
        }
        
        #tipee-sub .item .details p {
            padding-right: 116px; 
        }
        #tipee-sub .item img {
            width: 100%;
        }
        #tipee-sub .icon {
            justify-content: center;
        }
        #tipee-sub .item .details p {
            padding-right: 0; 
        }
        #tipee-sub .icon img {
            width: 20%;
            height: 100%;
        }
        #tipee-sub .item a {
            padding: 14px;
            width: 48%;
            text-align: center;
            margin-bottom: 31px;
            display: inline-block;
        }
        /* who============== */

        #who {
            text-align: center;
        }
        #who .row{
            flex-direction: column-reverse;
        }
        #who .item .stats {
            justify-content: center;
        }
        #who .item a {
            margin-bottom: 20px;
        }
    }

    @media (min-width:768px) and (max-width:991px) {
        .navbar-toggler:focus {
            box-shadow: none;
        }
        nav {
            background-color: #d64758;
        }
        nav img {
            width: 100%;
        }
        .navbar-toggler-icon {
            color: #fff;
            font-size: 28px;
        }
        nav .nav-link {
            color: #898b8c;
        }
        nav ul {
            background-color: #fff;
            padding-top: 52px;
        }
        nav .nav-item a:hover {
            color: #898b8c;
        }
        .navbar-collapse {
            position: absolute;
            top: 76px;
            left: 0;
            width: 100%;
            transition: .4s;
        }
        nav .btn {
            color: #fff;
            position: none;
            background-color: #d64758;
        }
        nav .btn:hover {
            color: #fff;
            position: none;
            background-color: #d64758;
        }
        .nav-link:focus,
        .nav-link:hover {
            color: #898b8c;
        }
        nav .se-flex {
            display: flex;
            position: absolute;
            top: 13px;
            left: 50%;
            transform: translateX(-50%);
        }
        
        /* =============nav part end */
        /* =============banner part start */
        #banner .item video {
            display: none !important;
        }
        #banner .item h2 .wav {
            display: none;
        }
        #banner {
            margin-top: 0;
            padding-top: 0;
            padding-bottom: 190px;
        }
        #banner .item {
            margin: 0;
        }
       
        #banner .item h1 {
            font-size: 88px;
            text-align: center;
        }
        #banner .item h1 span {
            display: block;
            font-size: 102px;
        }
        #banner .item h2 {
            font-size: 75px;
            text-align: center;
            padding-top: 20px;
        }
        #banner .item h3 {
            font-size: 81px;
            text-align: center;
        }
        #banner .item h3 span .de {
            margin-left: 0;
        }
        #banner .item h3 p {
            display: inline-block;
            font-size: 65px;
            margin: 0;
        }
        #banner .item h3 .cursor {
            top: 25px;
            right: 91px;
            width: 36px;
        }
        
        #banner .item .de {
            display: block !important;
            margin-left: 45px;
        }
        #banner .item h3 .love {
            width: 44px;
            position: absolute;
            left: 251px;
            top: 23px;
        }
       
        #banner .item #hover-item {
            display: none;
        }
        #banner .item h3 span .de {
            margin-right: 17px;
        }
        #banner .item h3 span {
            display: inline-flex;
        }
        #banner .item h3 {
            line-height: 67px;
        }
        
        #banner .item h3 .cursor {
            top: 35px;
            right: 12px;
        }
        #banner .item h3 p {
            letter-spacing: -1px;
            font-size: 51px;
        }
        #banner .item h3 br {
            display: block;
        }
        .accordion {
            display: block;
            margin-top: 240px;
        }
        .accordion-button {
            font-size: 25px;
            font-weight: 800;
            line-height: 1;
            font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
            margin-top: 20px;
            border-radius: 10px;
        }
        .accordion-flush .accordion-item {
            border-radius: 15px;
        }
        .accordion-button:not(.collapsed) {
            color: #2b2d30;
            background-color: #fff;
            box-shadow: inset 0 -1px 0 rgba(0,0,0,.125);
        }
        .accordion-flush .accordion-item .accordion-button {
            border-radius: 20px;
        }
        .accordion-body {
            font-size: 18px;
            font-weight: 600;
        }
        /* =============banner part end */
        /* =============tip  part start */
       

        #tip {
            text-align: center;
        }

         #tip .titel-sub{
            display: inline-block;
        }
        #tip .hover-item {
            display: none;
        }
        #tip .item {
            padding: 0px 10px;
        }
        #tip .titel h1{
            font-weight: 800;
        }
        #tip .creatorpage .fullpage {
            width: 100%;
        }
        #tip .accordion-body img {
            width: 100%;
        }
        #tip .accordion-flush .accordion-item:first-child {
            border-top: 0;
            margin-top: -200px;
        }
        
        #tip .btn {
            padding: 16px 67px;
            margin: 38px;
        }
       
        /* =============tip  part end */
        /* ====================== */

        /* freedom ============== */
        section.freedom-part {
            padding: 0;
            text-align: center;
        }
        section.freedom-part .main_title {
            font-size: 40px;
        }
        section.freedom-part .left img {
            width: 80%;
        }
        #categories .list-c a {
            font-size: 60px;
        }
        section.freedom-part .right p {
            text-align: center;
        }
        section.freedom-part .align-items-center {
            align-items: center !important;
            justify-content: center;
        }
        section.freedom-part .right p {
            text-align: center;
        }
        section.freedom-part .align-items-center {
            flex-direction: column-reverse;
        }
        section.freedom-part .rev {
            flex-direction: column;
        }
        /* freedom end ============== 

         /* categories start ============== */
         #categories {
             background-color: #eff0f0;
         }
        #categories .titel {
            font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
            margin: 0 ; 
            line-height: 1;
            
        }
        #categories .titel h1{
            font-size: 32px;
            font-weight: 800;
        }
        #categories .button {
            margin: 0;
            width: 100%;
            margin: 0;
        }
        #categories .list-c a img {
            display: none;
        }
        #categories .list-c a {
            line-height: 80px;
        }

        /* categories end ============== */
        #tipee-sub {
           
            text-align: center;
        }
        #tipee-sub .item a {
            padding: 5px;
            width: 100%;
            text-align: center;
            display: inline-block;
            margin-bottom: 50px;
        }
        
        #tipee-sub .item .details p {
            padding-right: 116px; 
        }
        #tipee-sub .item img {
            width: 100%;
        }
        #tipee-sub .icon {
            justify-content: center;
        }
        #tipee-sub .item .details p {
            padding-right: 0; 
        }
        #tipee-sub .icon img {
            width: 20%;
            height: 100%;
        }
        #tipee-sub .item a {
            padding: 14px;
            width: 48%;
            text-align: center;
            margin-bottom: 31px;
            display: inline-block;
        }
        /* who============== */

        #who {
            text-align: center;
        }
        #who .row{
            flex-direction: column-reverse;
        }
        #who .item .stats {
            justify-content: center;
        }
        #who .item a {
            margin-bottom: 20px;
        }
    }

    @media (min-width:992px) and (max-width:1199px) {
        .navbar-toggler:focus {
            box-shadow: none;
        }
        nav ul {
            background-color: #d64758 !important;
            padding-top: 52px;
            position: absolute;
            top: -96px;
            left: 155px;
        }
        nav ul li a{
            color: #fff !important;
        }
       
        nav {
            background-color: #d64758;
        }
        nav img {
            width: 100%;
        }
        .navbar-toggler-icon {
            color: #fff;
            font-size: 28px;
        }
        nav .nav-link {
            color: #898b8c;
        }
        nav ul {
            background-color: #fff;
            padding-top: 52px;
        }
        nav .nav-item a:hover {
            color: #898b8c;
        }
        .navbar-collapse {
            position: absolute;
            top: 76px;
            left: 0;
            width: 100%;
            transition: .4s;
        }
        nav .btn {
            color: #fff;
            position: none;
            background-color: #d64758;
        }
        nav .btn:hover {
            color: #fff;
            position: none;
            background-color: #d64758;
        }
        .nav-link:focus,
        .nav-link:hover {
            color: #fff;
        }
        nav .nav-link {
            color: #fff;
        }
        nav .se-flex {
            display: flex;
            position: absolute;
            top: -44px;
            left: 88%;
            width: 160px;
            transform: translateX(-50%);
        }
        nav .btn {
            color: #000;
            position: none;
            background-color: #fff;
        }
        /* =============nav part end */
        /* =============banner part start */
        #banner .item video {
            display: none !important;
        }
        #banner .item h2 .wav {
            display: none;
        }
        #banner {
            margin-top: 0;
            padding-top: 0;
            padding-bottom: 190px;
        }
        #banner .item {
            margin: 0;
        }
        #banner .item h1 {
            font-size: 88px;
            text-align: center;
        }
        #banner .item h2 {
            font-size: 75px;
            text-align: center;
            padding-top: 20px;
        }
        #banner .item h3 {
            font-size: 81px;
            text-align: center;
        }
        #banner .item h3 span .de {
            margin-left: 0;
        }
        #banner .item h3 p {
            display: inline-block;
            font-size: 65px;
            margin: 0;
        }
        #banner .item h3 .cursor {
            top: 25px;
            right: 91px;
            width: 36px;
        }
        
        #banner .item .de {
            display: block !important;
            margin-left: 45px;
        }
        #banner .item h3 .love {
            width: 44px;
            position: absolute;
            left: 250px;
            top: 27px;
        }
        
        
        #banner .item #hover-item {
            display: none;
        }
        #banner .item h3 span .de {
            margin-right: 17px;
        }
        #banner .item h3 span {
            display: inline-flex;
        }

       
        #banner .item h3 p {
            letter-spacing: -1px;
        }
        .accordion {
            display: block;
            margin-top: 240px;
        }
        .accordion-button {
            font-size: 25px;
            font-weight: 800;
            line-height: 1;
            font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
            margin-top: 20px;
            border-radius: 10px;
        }
        .accordion-flush .accordion-item {
            border-radius: 15px;
        }
        .accordion-button:not(.collapsed) {
            color: #2b2d30;
            background-color: #fff;
            box-shadow: inset 0 -1px 0 rgba(0,0,0,.125);
        }
        .accordion-flush .accordion-item .accordion-button {
            border-radius: 20px;
        }
        .accordion-body {
            font-size: 18px;
            font-weight: 600;
        }
        /* =============banner part end */
        /* =============tip  part start */
        #tip {
            text-align: center;
        }
        #tip .titel-sub{
            display: inline-block;
        }
        #tip .hover-item {
            display: none;
        }
        #tip .item {
            padding: 0px 8px;
        }
        #tip .titel h1{
            font-weight: 800;
        }
        #tip .creatorpage .fullpage {
            width: 100%;
        }
        #tip .accordion-body img {
            width: 100%;
        }
        #tip .accordion-flush .accordion-item:first-child {
            border-top: 0;
            margin-top: -200px;
        }
        
        #tip .btn {
            padding: 16px 67px;
            margin: 38px;
        }
       
        /* =============tip  part end */
        /* ====================== */

        /* freedom ============== */
        section.freedom-part {
            padding: 0;
        }
        section.freedom-part .row {
            flex-direction: column;
            align-content: center;
        }
        section.freedom-part .main_title {
            font-size: 40px;
        }
        section.freedom-part .left img {
            width: 100%;
        }
        #categories .list-c a {
            font-size: 60px;
        }
        section.freedom-part .right p {
            text-align: center;
        }
        section.freedom-part .align-items-center {
            align-items: center !important;
            justify-content: center;
        }
        section.freedom-part .right p {
            text-align: center;
        }
        section.freedom-part .align-items-center {
            flex-direction: column-reverse;
        }
        section.freedom-part .rev {
            flex-direction: column;
        }
        section.freedom-part .col-lg-5 {
            flex: 0 0 auto;
            width: 60%;
        }
        section.freedom-part .right {
            text-align: center;
        }
        /* freedom end ============== 

         /* categories start ============== */
         #categories {
             background-color: #eff0f0;
             text-align: center;
         }
        #categories .titel {
            font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
            margin: 0 ; 
            line-height: 1;
            
        }
        #categories .titel h1{
            font-size: 32px;
            font-weight: 800;
        }
        #categories .button {
            margin: 0;
            margin-top: 0;
            display: inline-block;
            width: 38%;
            background-color: #fff;
            margin: 0 auto;
        }
        #categories .list-c a img {
            display: none;
        }
        #categories .list-c a {
            line-height: 80px;
        }

        /* categories end ============== */
        #tipee-sub {
           
            text-align: center;
        }
        #tipee-sub .item a {
            padding: 5px;
            width: 100%;
            text-align: center;
            display: inline-block;
            margin-bottom: 50px;
        }
        
        #tipee-sub .item .details p {
            padding-right: 116px; 
        }
        #tipee-sub .item img {
            width: 100%;
        }
        #tipee-sub .icon {
            justify-content: center;
        }
        #tipee-sub .item .details p {
            padding-right: 0; 
        }
        #tipee-sub .icon img {
            width: 20%;
            height: 100%;
        }
        #tipee-sub .item a {
            padding: 16px;
            width: 59%;
            text-align: center;
            margin-bottom: 31px;
            display: inline-block;
        }
        /* who============== */

        #who {
            text-align: center;
        }
        #who .row {
            flex-direction: column-reverse;
            justify-content: center;
            align-content: center;
        }
        #who .item .stats {
            justify-content: center;
        }
        #who .item .titel p {
            
        padding-right: 71px;
        }
        /* footer part   */
        #footer-part .item .m-disc {
            margin-top: 24px;
            margin-left: -38px;
        }
    }
    @media (min-width:1200px) and (max-width:1300px) {
        .navbar-toggler:focus {
            box-shadow: none;
        }
        nav ul {
            background-color: #d64758 !important;
            padding-top: 52px;
            position: absolute;
            top: -96px;
            left: 155px;
        }
        nav ul li a{
            color: #fff !important;
        }
       
        nav {
            background-color: #d64758;
        }
        nav img {
            width: 100%;
        }
        .navbar-toggler-icon {
            color: #fff;
            font-size: 28px;
        }
        nav .nav-link {
            color: #898b8c;
        }
        nav ul {
            background-color: #fff;
            padding-top: 52px;
        }
        nav .nav-item a:hover {
            color: #898b8c;
        }
        .navbar-collapse {
            position: absolute;
            top: 76px;
            left: 0;
            width: 100%;
            transition: .4s;
        }
        nav .btn {
            color: #fff;
            position: none;
            background-color: #d64758;
        }
        nav .btn:hover {
            color: #fff;
            position: none;
            background-color: #d64758;
        }
        .nav-link:focus,
        .nav-link:hover {
            color: #fff;
        }
        nav .nav-link {
            color: #fff;
        }
        nav .se-flex {
            display: flex;
            position: absolute;
            top: -44px;
            left: 88%;
            width: 160px;
            transform: translateX(-50%);
        }
        nav .btn {
            color: #000;
            position: none;
            background-color: #fff;
        }
        /* =============nav part end */
        /* =============banner part start */
        #banner .item video {
            display: none !important;
        }
        #banner .item h2 .wav {
            display: none;
        }
        #banner {
            margin-top: 0;
            padding-top: 0;
            padding-bottom: 190px;
        }
        #banner .item {
            margin: 0;
        }
        #banner .item h1 {
            font-size: 88px;
            text-align: center;
        }
        #banner .item h2 {
            font-size: 75px;
            text-align: center;
            padding-top: 20px;
        }
        #banner .item h3 {
            font-size: 81px;
            text-align: center;
        }
        #banner .item h3 span .de {
            margin-left: 0;
        }
        #banner .item h3 p {
            display: inline-block;
            font-size: 65px;
            margin: 0;
        }
        #banner .item h3 .cursor {
            top: 25px;
            right: 91px;
            width: 36px;
        }
        
        #banner .item .de {
            display: block !important;
            margin-left: 45px;
        }
        #banner .item h3 .love {
            width: 44px;
            position: absolute;
            left: 250px;
            top: 27px;
        }
        
        
        #banner .item #hover-item {
            display: none;
        }
        #banner .item h3 span .de {
            margin-right: 17px;
        }
        #banner .item h3 span {
            display: inline-flex;
        }

       
        #banner .item h3 p {
            letter-spacing: -1px;
        }
        .accordion {
            display: block;
            margin-top: 240px;
        }
        .accordion-button {
            font-size: 25px;
            font-weight: 800;
            line-height: 1;
            font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
            margin-top: 20px;
            border-radius: 10px;
        }
        .accordion-flush .accordion-item {
            border-radius: 15px;
        }
        .accordion-button:not(.collapsed) {
            color: #2b2d30;
            background-color: #fff;
            box-shadow: inset 0 -1px 0 rgba(0,0,0,.125);
        }
        .accordion-flush .accordion-item .accordion-button {
            border-radius: 20px;
        }
        .accordion-body {
            font-size: 18px;
            font-weight: 600;
        }
        /* =============banner part end */
        /* =============tip  part start */
        #tip {
            text-align: center;
        }
        #tip .titel-sub{
            display: inline-block;
        }
        #tip .hover-item {
            display: none;
        }
       
        #tip .titel h1{
            font-weight: 800;
        }
        #tip .creatorpage .fullpage {
            width: 100%;
        }
        #tip .accordion-body img {
            width: 100%;
        }
        #tip .accordion-flush .accordion-item:first-child {
            border-top: 0;
            margin-top: -200px;
        }
        
        #tip .btn {
            padding: 16px 67px;
            margin: 38px;
        }
       
        /* =============tip  part end */
        /* ====================== */

        /* freedom ============== */
       
        /* freedom end ============== 

         /* categories start ============== */
         #categories {
             background-color: #eff0f0;
             text-align: center;
         }
        #categories .titel {
            font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
            margin: 0 ; 
            line-height: 1;
            
        }
        #categories .titel h1{
            font-size: 52px;
            font-weight: 800;
        }
        #categories .button {
            margin: 0;
            margin-top: 0;
            display: inline-block;
            width: 38%;
            background-color: #fff;
            margin: 0 auto;
            margin-top: 33px;
        }
        #categories .list-c a img {
            display: none;
        }
        #categories .list-c a {
            line-height: 105px;
        }
        /* footer part   */
        #footer-part .item .m-disc {
            margin-top: 24px;
            margin-left: -38px;
        }
    }

    
   